{% extends "base.html" %}

{% block title %} Auto Emailer{% endblock %}

{% block content %}
     
<body>
    <div class="auth-container">
        <div class="login-register-container">
            <h2>Login</h2>


            <form action="{{ url_for('login') }}" method="POST">
                <input type="email" name="email" placeholder="Enter your email" required>
                <input type="password" name="password" placeholder="Enter your password" required>
                <button class="auth-btn" type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
        </div>
    </div>


</body>
 {% endblock %}
